@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    @if(Model.todoItems != null)
    {
        foreach(var todo in Model.todoItems)
        {
            <h3>@todo.Name</h3>
        }
    }
</div>
