################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/webapi/.vs/webapi
/webapi/bin/Debug/net9.0
/webapi/obj
/webapi/.vs/ProjectEvaluation
/AspNetCoreIdentityRazor/obj
/AspNetCoreIdentityRazor/bin/Debug/net9.0
/WebAppRazor/obj
/WebAppRazor/bin/Debug/net9.0
